@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

/* a18i */
.visible-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visible-hidden:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
}

/* Social Icons */
li.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}

#header-social li.social {
    width: 2.125rem;
    height: 2.125rem;
}

li.social>a {
    background-color: white;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-social li.social>a {
    background-color: rgba(255, 255, 255, 0.85);
}

i.btn-icon {
    background-position: center center;
    background-size: contain;
}

li.social>a>i {
    width: 2rem;
    height: 2rem;
    display: block;
}

#header-social li.social>a>i {
    width: 1.375rem;
    height: 1.375rem;
}

.icon-facebook {
    background: url("../images/facebook.svg") no-repeat;
}

.icon-linkedin {
    background: url("../images/linkedin.svg") no-repeat;
}

.icon-home {
    background: url("../images/home.svg") no-repeat;
}

/* Header */
header #primary-menu li:last-child {
    border: none !important;
}

header .logo-wrapper {
    width: 350px;
    padding: 11px;
    background-color: white;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 25% 100%);
}

.wp-block-cover.about.alignfull {
    margin-bottom: 0 !important;
}

/* Footer */
@media (min-width: 960px) {
    footer .area {
        max-width: 28%;
        padding-left: max(1rem, 2.5vw);
        padding-right: max(1rem, 2.5vw);
    }

    footer .area:first-child,
    footer .area:last-child {
        padding-right: 0;
    }
}

@media (max-width: 959.9px) {
    header .logo-wrapper img {
        width: calc(10vw + 90px);
    }
}