article>*:not(.entry-content),
.entry-content>* {
    @apply mx-auto max-w-wide;
}

.entry-content,
.block-editor-block-list__layout {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    p,
    ul,
    ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-4;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

.alignfull.mt-0 {
    margin-top: 0 !important;
}

.alignfull.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}